.button {
    border-radius: 100%;
    width: max-content;
    height: max-content;
    padding: 0.5rem;
    border: 0;
}

.button:hover {
    cursor: pointer;
}

.container__button {
    margin-top: 1rem;
}

.button_border_smaller {
    border-radius: $radios;
}

.button_theme_light {
    color: rgb(0, 0, 0, 0.8);
    background-color: $text-color;
}

.button_theme_dark {
    color: $text-color;
    background-color: $primary-color;
}

.button_theme_mixed {
    color: $text-color;
    background-color: rgb(0, 0, 0, 0.2);
}