.button {
    border-radius: 100%;
    width: max-content;
    height: max-content;
    padding: 0.5rem;
    border: 0;

    &:hover {
        cursor: pointer;
    }

    &_border_smaller {
        border-radius: $radios;
    }

    &_align_middle {
        margin: auto;
    }

    &_theme {
        &_light {
            color: rgb(0, 0, 0, 0.8);
            background-color: $text-color;
        }

        &_dark {
            color: $text-color;
            background-color: $primary-color;
        }

        &_mixed {
            color: $text-color;
            background-color: rgb(0, 0, 0, 0.2);
        }
    }
}

.container__button {
    margin-top: 1rem;
}