.nav {
    @include flex-row;
    gap: 2rem;

    &__search {
        @include col-3;
    }

    &__navigate {
        @include col-9;
        @include flex-row;
        justify-content: space-between;

        &_group_tool {
            @include flex-row;
            gap: 1rem;
        }
    }

    &__ul_direction_horizontal {
        list-style-type: none;
        @include flex-row;
        gap: 2rem;
        margin: 0.5rem 0;
        padding: 0;
    }
}

.search__input {
    border-radius: $radios;
    border: 0;
    color: $text-color;
    background-color: $primary-color;
    padding-left: 1rem; 

    &::placeholder {
        color: $text-second-color;
    }
}

@media screen and (max-width: 412px) {
    .nav {
        @include flex-col;
        gap: 2rem;
    }

    .nav__search {
        @include col-12;
        height: 5vh;
    }

    .nav__navigate_group_tool {
        display: none;
    }
}